<h1 mat-dialog-title>Dodaj/Edytuj produkt</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa produktu</mat-label>
      <input formControlName="productName" matInput placeholder="Nazwa">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Kategoria produktu</mat-label>
      <mat-select formControlName="category" placeholder="Kategoria produktu">
        <mat-option value="Gitara elektryczna">Gitara elektryczna</mat-option>
        <mat-option value="Gitara akustyczna">Gitara akustyczna</mat-option>
        <mat-option value="Gitara klasyczna">Gitara klasyczna</mat-option>
        <mat-option value="Gitara basowa">Gitara basowa</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label for=""><h1>Stan produktu</h1></label>
    <mat-radio-group formControlName="condition" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let condition of productCondition" [value]="condition">
        {{condition}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Cena</mat-label>
      <input formControlName="price" matInput type="number" placeholder="Cena">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Komentarz</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" [mat-dialog-close]="">Zamknij</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionButton}}</button>
</div>
